.message_item{
    
    
    /* border:1px solid black; */
    align-items: center;
    text-align: center;
}

.user{
    flex:1 ; 
    
    
}
.message-send{

    position: fixed;
    bottom: 0px;
    text-align: center;
    
}
.message_container{
    display: flex;
    flex:4 ; 
    justify-content: center;
    border: 1px solid black;
}

.all{
    display: flex;
    justify-content: center;
}

.weather{
    flex: 1 ;
}

.weather-content{

    position: fixed;
}
.user-list{
    position: fixed;
}